<%- include('../partials/adminHead.ejs') %>

    <body>
        <div class="main-wrapper">
            <header class="header-area">
                <div class="container">
                    <div class="header-top header-top-ptb-1 border-bottom-1">
                        <div class="row align-items-center">
                            <div class=" col-lg-6">
                                <div class="logo">
                                    <a href="#"><span style="color: red;
                                    font-size: 34px;
                                    font-weight: 500;">Game</span> <span style="font-size: 20px ;color: black;
                                    font-weight: 400;">Gallery</span></a>
                                </div>
                            </div>

                            <!-- <div class="col-lg-6">
                            <div class="header-action header-action-flex header-action-mrg-right">
                                <div class="same-style-2 header-search-1">
                                    <a class="search-toggle" href="#">
                                        <i class="icon-social-youtube"></i>
                                    </a>
                                </div>
                                <div class="same-style-2">
                                    <a href="wishlist.html"><i class="icon-social-facebook"></i></a>
                                </div>
                                <div class="same-style-2">
                                    <a href="login-register.html"> <i class="icon-social-twitter"></i></a>
                                </div>

                                <div class="same-style-2 header-cart">
                                    <a class="cart-active" href="#">
                                        <i class="icon-social-instagram"></i>
                                    </a>
                                </div>
                            </div>
                        </div> -->
                        </div>

                    </div>

            </header>

            <div class="login-register-area  "
                style="background-color: #f1f1f1;padding-top: 40px; padding-bottom: 70px;">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-7 col-md-12 ml-auto mr-auto">
                            <div class="login-register-wrapper">
                                <div class="login-register-tab-list nav">
                                    <a class="active" data-toggle="tab" href="#">
                                        <h4> Admin Logout</h4>
                                    </a>

                                </div>
                                <div class="tab-content">
                                    <div id="lg1" class="tab-pane active">
                                        <div class="login-form-container" style="    background: #fffcfc ">
                                            <div class="login-register-form">
                                                <form action="/admin/login" method="get">
                                                   
                                                    <input type="email" name="email" placeholder="Email"
                                                        style="border: 3px solid #ebebeb;" required class="email">
                                                    <input type="password" name="password" placeholder="Password"
                                                        style="border: 3px solid #ebebeb;" required>
                                                    <div class="button-box">
                                                        <div class="login-toggle-btn">


                                                            <!-- <a href="#">Forgot Password?</a> -->
                                                        </div>
                                                        <div class="row  text-center">
                                                            <div class="col-12">
                                                                <button type="submit">Logout</button>
                                                            </div>
                                                        </div>

                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="subscribe-area bg-gray ">
                <!-- <div class="container">
            <div class="row">
                <div class="col-lg-5 col-md-5">
                    <div class="section-title">
                        <h2>keep connected</h2>
                        <p>Get updates by subscribe our weekly newsletter</p>
                    </div>
                </div>
                <div class="col-lg-7 col-md-7">
                    <div id="mc_embed_signup" class="subscribe-form">
                        <form id="mc-embedded-subscribe-form" class="validate subscribe-form-style" novalidate="" target="_blank" name="mc-embedded-subscribe-form" method="post" action="https://devitems.us11.list-manage.com/subscribe/post?u=6bbb9b6f5827bd842d9640c82&amp;id=05d85f18ef">
                            <div id="mc_embed_signup_scroll" class="mc-form">
                                <input class="email" type="email" required="" placeholder="Enter your email address" name="EMAIL" value="">
                                <div class="mc-news" aria-hidden="true">
                                    <input type="text" value="" tabindex="-1" name="b_6bbb9b6f5827bd842d9640c82_05d85f18ef">
                                </div>
                                <div class="clear">
                                    <input id="mc-embedded-subscribe" class="button" type="submit" name="subscribe" value="Subscribe">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div> -->
            </div>
            <footer class="footer-area bg-gray pb-30" style="padding-top: 30px;
    display: flex;
    /* justify-content: center; */
    text-align: center;
">

                <div class="col-lg-12">
                    <span> "Every login is a step toward progress. Keep moving forward!"</span>
                </div>

            </footer>
        </div>

        <!-- All JS is here
============================================ -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.min.js"></script>


        <script src="assets/js/vendor/modernizr-3.11.7.min.js"></script>
        <script src="assets/js/vendor/jquery-v3.6.0.min.js"></script>
        <script src="assets/js/vendor/jquery-migrate-v3.3.2.min.js"></script>
        <script src="assets/js/vendor/bootstrap.bundle.min.js"></script>
        <script src="assets/js/plugins/slick.js"></script>
        <script src="assets/js/plugins/jquery.syotimer.min.js"></script>
        <script src="assets/js/plugins/jquery.instagramfeed.min.js"></script>
        <script src="assets/js/plugins/jquery.nice-select.min.js"></script>
        <script src="assets/js/plugins/wow.js"></script>
        <script src="assets/js/plugins/jquery-ui-touch-punch.js"></script>
        <script src="assets/js/plugins/jquery-ui.js"></script>
        <script src="assets/js/plugins/magnific-popup.js"></script>
        <script src="assets/js/plugins/sticky-sidebar.js"></script>
        <script src="assets/js/plugins/easyzoom.js"></script>
        <script src="assets/js/plugins/scrollup.js"></script>
        <script src="assets/js/plugins/ajax-mail.js"></script>

        <!-- Use the minified version files listed below for better performance and remove the files listed above  
<script src="assets/js/vendor/vendor.min.js"></script>
<script src="assets/js/plugins/plugins.min.js"></script>  -->
        <!-- Main JS -->
        <script src="assets/js/main.js"></script>

        <script>
            $(document).ready(function() {
                $('form').validate({
                    rules: {
                        email: {
                            required: true,
                            email: true
                        },
                        password: {
                            required: true
                        }
                    },
                    messages: {
                        email: {
                            required: "Please enter your email address",
                            email: "Please enter a valid email address"
                        },
                        password: {
                            required: "Please enter your password"
                        }
                    },
                    submitHandler: function(form) {
                        // You can add additional logic here if needed before form submission
                        form.submit();
                    }
                });
            });
        </script>
        



    </body>

    </html>